.contato {
    background: #fff;
}

.contato-container {
    max-width: 1240px;
    margin: 0px auto;

    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 80px 40px 20px 40px;
    row-gap: 80px;
}

.titulo-contato {
    font-family: Merriweather, Georgia, 'Times New Roman', serif;
    font-size: 70px;
    line-height: 1;
    font-weight: normal;
    color: #003086;
    padding-bottom: 60px;

    position: relative;
}

.titulo-contato::after {
    content: "";
    width: 50px;
    height: 10px;
    background: var(--cor-primaria-detalhe);

    display: block;
    position: absolute;
}

.lista-contatos {
    display: grid;
    gap: 50px;
}

.lista-contatos h3 {
    font-size: 20px;
    line-height: 1.2;
    text-transform: uppercase;
    padding-bottom: 10px;
    color: var(--cor-fonte-titulo);
}

.lista-contatos address {
    font-size: 24px;
    line-height: 1.2;
    color: var(--cor-fonte-texto);
}

.lista-contatos a {
    color: var(--cor-fonte-texto);
}

.lista-contatos a:hover {
    text-decoration: underline;
}

.lista-contatos .whatsapp {
    position: relative;
}

.lista-contatos .whatsapp::after {
    content: "";
    width: 25px;
    height: 25px;
    background: url("../imagens/iconwhatsapp.svg") no-repeat center;

    display: inline-block;
    position: absolute;
    right: -35px;
}

.mapa-contato {
    justify-self: end;
}

.direitos-contato {
    grid-column: 1 / -1;
    justify-self: center;

    color: var(--cor-fonte-titulo);
}

@media (max-width: 1024px) {

    .contato-container {
        row-gap: 60px;
        padding: 60px 20px 20px 20px;
    }

    .titulo-contato {
        font-size: 60px;
        padding-bottom: 40px;
    }

    .titulo-contato::after {
        width: 42px;
        height: 8px;
    }

    .lista-contatos h3 {
        font-size: 18px;
    }

    .lista-contatos address {
        font-size: 22px;
        line-height: 1.3;
    }
}

@media (max-width: 768px) {

    .contato-container {
        grid-template-columns: 1fr;
        row-gap: 40px;
        padding: 40px 20px 10px 20px;
    }

    .lista-contatos {
        display: grid;
        grid-template-columns: auto 1fr;
        gap: 150px;
    }

    .mapa-contato {
        height: 300px;
    }

    .direitos-contato {
        font-size: 14px;
    }
}

@media (max-width: 425px) {

    .contato-container {
        padding: 30px 20px 10px 20px;
        gap: 40px;
    }

    .titulo-contato {
        font-size: 50px;
        padding-bottom: 35px;
    }

    .titulo-contato::after {
        width: 35px;
        height: 6px;
    }

    .lista-contatos {
        display: initial;
    }

    .lista-contatos h3 {
        font-size: 16px;
        padding-bottom: 5px;
    }

    .lista-contatos address {
        font-size: 20px;
    }

    .lista-contatos li + li {
        padding-top: 30px;
    }

    .lista-contatos .whatsapp::after {
        transform: scale(.9);
    }

    .direitos-contato {
        font-size: 14px;
    }
}

