:root {
    --cor-primaria-fundo: #f7f7f7;
    --cor-secundaria-fundo: #ffffff;
    --cor-fonte-titulo: #003086;
    --cor-fonte-texto: #0E3F98;
    --cor-primaria-detalhe: #d9bf87;
    --cor-secundaria-detalhe: #588AE3;
    --cor-terciaria-detalhe: #B7DCFF;
}

body {
    font-family: Inter, Arial, Helvetica, sans-serif;
    margin: 0px;
    background: var(--cor-primaria-fundo);
}

h1, h2, h3, p {
    margin: 0px;
}

ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

a {
    text-decoration: none;
}

img{
    max-width: 100%;
    height: auto;
    display: block;
}

.youtube {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
}

.youtube iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
