.introducao {
    max-width: 1240px;
    margin: 0px auto;

    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0px 40px 100px 40px;
}

.texto-introducao {
    font-family: Merriweather, Georgia, 'Times New Roman', serif;
    font-size: 45px;
    line-height: 1.2;
    font-weight: 300;
    color: #003086;
    padding-top: 100px;

    position: relative;
}

.texto-introducao::after {
    content: "";
    width: 100px;
    height: 10px;
    background: #D9BF87;

    display: block;
    position: absolute;
    bottom: -15px;
}

.img-introducao {
    justify-self: end;
}

@media (max-width: 1024px) {

    .introducao {
        padding: 0px 20px 60px 20px;
        gap: 20px;
    }

    .texto-introducao {
        font-size: 35px;
        padding-top: 80px;
    }
}

@media (max-width: 768px) {

    .introducao {
        padding: 0px 20px 40px 20px;
    }

    .texto-introducao {
        font-size: 25px;
        padding-top: 60px;
    }
}