.porquenos {
    max-width: 1240px;
    margin: 0px auto;

    padding: 80px 40px 170px 40px;
}

.titulo-porquenos {
    font-family: Merriweather, Georgia, 'Times New Roman', serif;
    font-size: 70px;
    line-height: 1;
    font-weight: normal;
    text-align: center;
    color: #003086;
    padding-bottom: 60px;
}

.titulo-porquenos span {
    color: var(--cor-primaria-detalhe);
}

.lista-vantagens {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}

.item-vantagens {
    flex: 1;
    padding: 20px;
    border: 1px solid var(--cor-terciaria-detalhe);
    border-radius: 4px;
    box-sizing: border-box;
    background: var(--cor-secundaria-fundo);
}

.item-vantagens h3 {
    font-size: 20px;
    line-height: 1.2;
    text-transform: uppercase;
    padding-bottom: 20px;
    color: var(--cor-fonte-titulo);

    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 10px;
}

.item-vantagens h3::before {
    content: "";
    width: 50px;
    height: 45px;
    display: block;
}

.item1 h3::before {
    background: url("../imagens/iconexperienciaseguranca.svg") no-repeat center;
}

.item2 h3::before {
    background: url("../imagens/iconmelhorescondicoes.svg") no-repeat center;
}

.item3 h3::before {
    background: url("../imagens/iconatendimentoexterno.svg") no-repeat center;
}

.item4 h3::before {
    background: url("../imagens/iconequipepreparada.svg") no-repeat center;
}

.item-vantagens p {
    color: var(--cor-fonte-texto);
}

@media (max-width: 1024px) {

    .porquenos {
        padding: 60px 20px 100px 20px;
    }

    .titulo-porquenos {
        font-size: 60px;
    }

    .lista-vantagens {
        gap: 30px;
    }
}

@media (max-width: 768px) {

    .porquenos {
        padding: 40px 20px 40px 20px;
    }

    .titulo-porquenos {
        padding-bottom: 40px;
    }

    .lista-vantagens {
        gap: 15px;
    }

    .item-vantagens h3 {
        font-size: 18px;
    }
}

@media (max-width: 425px) {

    .porquenos {
        padding: 30px 20px 40px 20px;
    }

    .titulo-porquenos {
        font-size: 45px;
        line-height: 1.1;
        padding-bottom: 30px;
    }

    .lista-vantagens {
        gap: 20px;
    }

    .item-vantagens h3 {
        max-width: initial;
    }
}