.porquenos {
    max-width: 1240px;
    margin: 0px auto;

    padding: 80px 40px 170px 40px;
}

.titulo-porquenos {
    font-family: Merriweather, Georgia, 'Times New Roman', serif;
    font-size: 70px;
    line-height: 1;
    font-weight: normal;
    text-align: center;
    color: #003086;
    padding-bottom: 60px;
}

.titulo-porquenos span {
    color: #D9BF87;
}

.lista-vantagens {
    display: flex;
    gap: 40px;
}

.item-vantagens {
    flex: 1;
    padding: 20px;
    border: 1px solid #B7DCFF;
    border-radius: 4px;
    background: #fff;
}

.item-vantagens h3 {
    font-size: 20px;
    line-height: 1.2;
    text-transform: uppercase;
    padding-bottom: 20px;
    color: #0E3F98;

    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 10px;
}

.item-vantagens h3::before {
    content: "";
    width: 50px;
    height: 45px;
    display: block;
}

.item1 h3::before {
    background: url("../imagens/iconexperienciaseguranca.svg") no-repeat center;
}

.item2 h3::before {
    background: url("../imagens/iconmelhorescondicoes.svg") no-repeat center;
}

.item3 h3::before {
    background: url("../imagens/iconatendimentoexterno.svg") no-repeat center;
}

.item4 h3::before {
    background: url("../imagens/iconequipepreparada.svg") no-repeat center;
}

.item-vantagens p {
    color: #0E3F98;
}