:root {
    --cor-b1: #f7f7f7;
    --cor-b2: #ffffff;
    --cor-f1: #003086;
    --cor-f2: #0E3F98;
    --cor-d1: #d9bf87;
    --cor-d2: #588AE3;
    --cor-d3: #B7DCFF;
}

/*Fontes*/

.cor-f1 {
    color: var(--cor-f1);
}

.cor-f2 {
    color: var(--cor-f2);
}

/*Detalhes*/

.cor-d1 {
    color: var(--cor-d1);
}

.cor-d2 {
    color: var(--cor-d2);
}

.cor-d3 {
    color: var(--cor-d3);
}

