.header-bg {
    background: var(--cor-b2);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.menu {
    display: flex;
    gap: 40px;
}

.menu a {
    display: block;
    padding: 20px 0px;
}

.menu a::after {
    content: "";
    width: 0;
    height: 2px;
    background-color: var(--cor-f2);
    display: block;
}
    
.menu a:hover::after {
    width: 100%;
    transition: .3s;
}

@media (max-width: 1024px) {

    .header {
        padding: 10px 20px;
    }
}

@media (max-width: 768px) {

    .header {
        padding: 5px 20px;
    }
    
    .logoapoio {
        width: 70px;
    }

    .menu {
        gap: 40px;
    }
}

@media (max-width: 425px) {

    .logoapoio {
        width: 50px;
    }

    .menu {
        gap: 30px;
    }
}